$white      : #fff;
$black      : #000;
$dark       : #33393F;

$white0     : #fafafa;
$white1     : #f7f7f7;
$white2     : #f2f2f2;
$white3     : #eee;
$white4     : #e6e6e6;
$white5     : #dfdfdf;

$gray       : (#33393F,#e3e6e8,#c6ccd2,#aab3bb,#8e99a4,#71808e,#5b6671,#444d55,#2d3339,#171a1c);
$blue       : (#1167bd,#d0e6fb,#a2ccf6,#73b3f2,#4499ee,#1680e9,#1167bd,#0d4d8c,#09335d,#041a2f);
$yellow     : (#ffc72c,#fff1cc,#ffe499,#ffd666,#ffc933,#ffbb00,#cc9600,#997000,#664b00,#332500);
$danger     : (#e63d3d,#f9d2d2,#f3a5a5,#ed7878,#e84a4a,#e21d1d,#b51717,#871212,#5a0c0c,#2d0606);
$success    : (#009944,#ccffe3,#99ffc7,#66ffab,#33ff8f,#00ff73,#00cc5c,#009944,#00662e,#003317);
$purple     : (#6A4EFF,#d4ccff,#a899ff,#7d66ff,#5233ff,#2600ff,#1f00cc,#170099,#0f0066,#080033);
$colorVar   : ($gray,$blue,$yellow,$danger,$success,$purple);
$colorName  : ("gray","blue","yellow","danger","success","purple");

* {
    box-sizing:border-box !important;
    margin:0; padding:0;
}
img { text-align:bottom; }
body,html,ol,ul,li,a,img,button,input {
    //초기화
    all:unset;
}
input,button {
    color:$dark;
}
body {
    font-family:"Noto Sans KR",sans-serif;
    font-size:14px;
    color:$dark;
}

/* 크기 */
@mixin tblr ($name,$css,$val,$unit){
    .#{$name}t#{$val}  { #{$css}-top:#{$val}#{$unit} !important; }
    .#{$name}b#{$val}  { #{$css}-bottom:#{$val}#{$unit} !important; }
    .#{$name}l#{$val}  { #{$css}-left:#{$val}#{$unit} !important; }
    .#{$name}r#{$val}  { #{$css}-right:#{$val}#{$unit} !important; }
}

$i:0;
@for $i from 0 to 201 {
    
    @if $i%5 == 0 or $i%2 == 0 {
        .pd#{$i}  { padding:#{$i}px !important; }
        .mg#{$i}  { margin:#{$i}px !important; }
        .w#{$i}p { width:#{$i}% !important; }
        .h#{$i}p { height:#{$i}% !important; }
        @include tblr("m","margin",$i,"px");
        @include tblr("p","padding",$i,"px");

        .radius#{$i} { border-radius:#{$i}px; }
    }
}
@for $i from 0 to 1001 {
    @if $i%5 == 0 or $i%2 == 0 {
        .w#{$i} { width:#{$i}px !important; }
        .h#{$i} { height:#{$i}px !important; }
    }
}

/* 텍스트 컬러 */
// $i:000;
@mixin colorSetter($name,$css,$val,$num){
    @if $num == 000{
        $num:"";
    }
    .#{$name}#{$num} { #{$css} : #{$val} !important; }
}
@mixin wbdColor($name,$css){
    @include colorSetter(#{$name+"-white"},$css,$white,"");
    @include colorSetter(#{$name+"-black"},$css,$black,"");
    @include colorSetter(#{$name+"-dark"},$css,$dark,"");
}
@mixin cssColor($colorV,$colorNM,$ii,$name,$css){
    $index:000;
    @for $j from 1 to length($colorV) {
        @include colorSetter(#{$name+"-"+nth($colorNM,$ii)},$css,nth($colorV,$j),$index);
        $index : $index + 100;
    }
}
@include wbdColor("t","color");
@for $ii from 1 to length($colorVar) {
    @include cssColor(nth($colorVar,$ii),$colorName,$ii,"t","color");
}
/* 배경 컬러 */
@include wbdColor("bg","background");
@include wbdColor("bgc","background-color");
@for $ii from 1 to length($colorVar) {
    @include cssColor(nth($colorVar,$ii),$colorName,$ii,"bg","background");
    @include cssColor(nth($colorVar,$ii),$colorName,$ii,"bgc","background-color");
}

@for $i from 1 to 10 {
    .shadow#{$i*100} { box-shadow : 0 #{$i}px #{$i*2}px rgba(0,0,0,0.2); }
}

//std
.hide { display:none !important; }
//std

//ui-table
.ui-table {
    width:100%;
    position:relative;
    border-bottom:1px solid $white3;

    .row {
        width:100%;
        display:flex;
        .col {
            display:flex;
            flex:1 1;
            justify-content:center;
            align-items:center;
            padding:10px;
            border-top:1px solid #eee;
            border-right:1px solid #eee;
            &:last-child {
                border-right:0;
            }
            &[class*="w"] {
                flex:none;
            }
        }
    }

    .table-head {
        position:sticky;
        z-index:1;
        top:10px;
        .row{
            background:$white;
            border-bottom:1px solid #eee;
            margin-bottom:5px;
            background:#fff;
        }
    }
    &.stripe .table-body .row {
        background:$white;
        &:hover {
            background:darken($white,10%);
        }
    }
    &.stripe .table-body .row:nth-child(2n+1) {
        background:$white1;
        &:hover {
            background:darken($white1,10%);
        }
    }

}
//ui-table

//ui-btn
.ui-btn {
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0 12px;
    background:$white;
    height:32px;
    border-radius:8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border:0;
    outline:0;
    font-size:14px;
    font-weight:bold;
    white-space:nowrap;
    width:auto;
    position:relative;
    text-align:center;
    vertical-align:middle;
    overflow:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    transition-duration: 0.2s;
    transition-property: transform color background box-shadow;

    &:active{
        transform: scale(0.95) translateY(5%);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }

    &.material-icons {
        font-size:20px;
    }

    &.flat {
        font-weight:normal;
        box-shadow:none;
    }

    &.border {
        background:transparent;
        border:1px solid nth($gray,2);
        box-shadow:none;
    }


    &.ui-btn-on {
        background:#fff;
        color:#1167bd;
    }
    &.ui-btn-search {
        background: #fff;
        color: #333;
    }
    &.ui-btn-danger {
        background: #fff;
        color: #e63d3d;
    }
    &.ui-btn-success {
        background: #fff;
        color: #068906;
    }
    &.ui-btn-warn {
        background: #fff;
        color: #9d6e04;
    }
    &.ui-btn-ssem {
        background: #fff;
        color: #dc6a23;
    }
    &.ui-btn-transparent {
        background:transparent;
        color:#333;
    }
    &.ui-btn-basic {
        background:#fff;
        color:#333;
    }

    &.ui-btn-onF {
        background: #0657a2;
        color: #fff;
    }
    &.ui-btn-dangerF {
        background: #e63d3d;
        color: #fff;
    }
    &.ui-btn-successF {
        background: #068906;
        color: #fff;
    }
    &.ui-btn-warnF {
        background: #f3c527;
        color: #333;
    }
    &.ui-btn-ssemF {
        background: #dc6a23;
        color: #fff;
    }
    &.ui-btn-glass {
        background:rgba(0,0,0,0.06);
        color:#333;
    }
    &.ui-btn-basicF {
        background:#ccc;
        color:#333;
    }
}

.click-effect {
    border-radius:100%; animation:click-effect 1.2s;
    width:2px; height:2px; background:currentColor; opacity:0.2;
    position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);
}
@keyframes click-effect {
    0%  {width:0; height:0; opacity:0.3;}
    100%  {width:500px; height:500px; opacity:0;}
}
//ui-btn


//checkbox
.checkbox {
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    display:inline-block;

    > input {
        position: absolute;
        width: 1px !important;
        height: 1px !important;
        overflow: hidden;
        border: 0;
        padding: 0 !important;
        opacity: 0 !important;
        
        
        &:focus + span {
            border-color: nth($blue,7);
        }
        &:checked + span {
            border: 1px solid nth($gray,9);
            background: nth($gray,9);
        }
        ~ span .on {
            display:none;
        }
        ~ span .off {
            display:inline;
        }
        &:checked ~ span .on {
            display:inline;
        }
        &:checked ~ span .off {
            display:none;
        }
        &:checked + span:before {
            width: 150%;
            height: 150%;
            border-radius: 8px;
        }&:checked + span:after {
            width: 12px;
            height: 16px;
            top: 50%;
        }
        &:checked ~ span:last-child {
            color: $dark;
        }
        &[type="radio"] + span {
            border-radius: 100%;
        }

        + span {
            display: inline-block;
            vertical-align:middle;
            width: 24px;
            height: 24px;
            background: $white;
            border: 1px solid opacify($dark,0.15);
            border-radius: 6px;
            position: relative;
            overflow: hidden;
            transition: all 0.4s;
            box-sizing:border-box;
            
    
            &:before {
                content: "";
                width: 0;
                height: 0;
                background: nth($gray,9);
                position: absolute;
                top: 50%;
                left: 50%;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                transition: all 0.4s;
            }
            &:after {
                content: "";
                width: 0;
                height: 0;
                background: $white;
                position: absolute;
                top: 100%;
                left: 50%;
                transition: all 0.4s;
                transform: translate(-50%, -60%) rotate(45deg) scale(0.75);
                clip-path: polygon(8px 0, 12px 0, 12px 16px, 0 16px, 0 12px, 8px 12px);
                -webkit-clip-path: polygon(
                8px 0,
                12px 0,
                12px 16px,
                0 16px,
                0 12px,
                8px 12px
                );
            }
            
        }
    }

    > span {
        vertical-align: middle;
        
        &:last-child {
            color: nth($gray,7);
            margin-left:10px;
        }
    }
}
//checkbox